<html lang="en">

<head>
    <title>Eat-da-burger</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
</head>

<body>
    <div class="jumbotron headliner">
    	<br>
    	<h1 class="burge"><img 	src="../public/images/burger.png"></h1>
        <h1 class="display-3 text-center headtitle" style="font-weight: 900; font-size: 3em;">The Galdin Quay</h1>
		  <p style="text-align: center;">Indulge at the Quayside Cradle</p>
    </div>
    <div class="container">
        <div class="row">
            <br>
            <div class="row">
                <div class="col-xs-6 text-center" class="task">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Available Burgers</div>
                        <div class="panel-body">
                            {{#each burger_data}} {{#unless this.devoured}}
                            <div class="row">
                                <div class="col-xs-9 text-left" style="font-weight: bold;">
                                    <pre style="font-size: 1.25em;"> {{this.id}}. {{this.burger_name}}</pre>
                                </div>
                                <div class="col-xs-3 text-center">
                                    <form method="POST" action="burger/{{id}}" class="button-size" style="line-height: 0px;">
                                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                        <br>
                                        <button type="sumbit" class="btn btn-default btn-success">EAT It!</button>
                                    </form>
                                </div>
                            </div>
                            {{/unless}} {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center" class="menus">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Burgers ate</div>
                        <div class="panel-body">
                            {{#each burger_data}} {{#if this.devoured}}
                            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly> {{/if}} {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center enter_section">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Add a new burger</div>
                    <div class="panel-body">
                        <form action="/add" method="POST">
                            <div class="input-group">
                                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                                <br>
                                <span class="input-group-btn">
								<button type="sumbit" class="btn btn-primary" id="text-enter-button">Add</button>
							</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center enter_section">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight: 900; font-size: 1.5em;">Clear all burgers!</div>
                    <div class="panel-body">
                        <form action="/delete" method="POST">
                            <button type="sumbit" class="btn btn-danger" id="text-enter-button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img id="cacti" src="../public/images/cactuar.png" width="25%" height="25%" alt="Cactuar image">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
