body {
  width: 99%;
  height: 900px;
  background-color: #98d9ec;
}

#top-bar {
  margin-top: 28px;
}

.jumbotron {
  background-image: url("../images/bg_weapons.png");
  background-repeat: no-repeat;
}

.full-width_img {
  overflow: hidden;
  position: relative;
  line-height: 0;
}
    
.burge {
  text-align: center;
}

#cacti {
  position: fixed;
  height: auto;
  top: 450px;
  left: 900px;
  margin: 165px;
}

#headtitle {
  font-weight: 600;
  font-size: 45px;
  color:#fff;
}

.subtitle {
  font-weight:300;
  font-size:24px;
  text-align: center;
  color:#fff;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

/*.menus {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}*/

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: #f30;
}